
<link rel="stylesheet" href="/header.css">
<div class="user-info">
    <div class="user-display">
        <span class="username-span">Logged in as: <strong>{{username}}</strong></span>
        <a href="/logout" class="logout-link">Logout</a>
    </div>
</div>